.welcome{
    width: 100%;

    .oval_g{
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .oval_p{
        position: absolute;
        left: 0px;
        top: 281px;
    }
}